<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Product</h1>
<p>
    <a href="/create-product">Create new Product</a>
</p>
<form action="/edit-product" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="text" th:field="*{date}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td>Prince</td>
            <td><input type="text" th:field="*{prince}"></td>
        </tr>

        <tr>
            <td>Type</td>
            <td>
                <ul style="list-style-type: none">
                    <li th:each="f : ${listType}">
                        <input type="checkbox" th:field="*{type}" th:value="${f}"><label th:text="${f}"></label>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>